body {
    margin: 0;
    padding: 0;
}

.backg {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
}

.top_bar
{
    display: flex;
    justify-content: space-evenly;
}

.visiter {
    width: 30%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.header {
    width: 65%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content
{
    display: flex;
    justify-content: space-evenly;
}

.profile
{
    width: 30%;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.blog
{
    width: 65%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}
